<!DOCTYPE html>
<html>
  <head>
    <title>Jinja Test</title>
  </head>
  <body>
    <div id="request">{{request}}
    </div>
    <div id="segments">{{segments}}
    </div>
    <pre><code id="message">{{message}}
    </code></pre>
  </body>
</html>